* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: $background;
}

h1, h2 {
  font-family: $font-title;
}

main {
  display: flex; 
  justify-content: center;
  text-align: center;
  background-color: #fff;
}


.nav-link, .social-icon {
  color: $main
}

.nav-link:hover, .social-icon:hover {
  color: $highlight;
}

header {
  background-color:  $background;

  img {
    max-width: 50px;
    height: auto;
  }
  
}

.alt-color {
  background-color: white;
  border-bottom: 2px solid $background;
}

footer {
  font-size: 0.75rem;
  text-align: center;
  background-color: white;

  hr {
    margin-top: 0;
  }

  p {
    margin: 0;
  }
  
}