<div class="article-container w-screen">

  <article class="max-w-full mx-auto leading-[1.6]">

    <header class="p-2 mb-6 text-center bg-background">
      <figure class="mx-auto mb-4">
        <img class="max-w-[300px] h-auto mx-auto" src="../assets/images/img2.webp" alt="Logo de las jornadas de seguridad informática" />
      </figure>
      <h1 class="mb-2 text-4xl font-title text-main text-[2.5rem]">Concurso de Seguridad Informática 2025</h1>
      <h2 class="text-xl text-highlight mb-2 text-[1.25rem]">La oportunidad para mostrar tus habilidades en ciberseguridad</h2>
      <p>By Paloma Balmori</p>
    </header>

    <include src="./views/section1-article.html"></include>
    <include src="./views/section2-article.html"></include>
    <include src="./views/section3-article.html"></include>

    <footer class="max-w-[50%] m-auto text-base text-justify">
      <p class="mb-4">
        ¡No te pierdas esta experiencia única! Inscríbete antes del 15 de diciembre y demuestra tu talento en el campo de la ciberseguridad. Habrá premios para los tres primeros lugares y oportunidades para conectar con empresas líderes del sector.
      </p>
      <ul class="p-2 text-white text-center bg-gradient-to-r from-main to-highlight border-2">
        <li>Fecha: 10 y 11 de enero de 2025</li>
        <li>Ubicación: Sala de conferencias de la Universitat Oberta de Catalunya</li>
        <li>Inscripciones abiertas hasta el 15 de diciembre</li>
      </ul>
    </footer>
  </article>
</div>

