<footer class="py-4 bg-white text-center text-xs">
  <hr class="border-0 border-t border-solid border-current opacity-25 mt-0 mb-4">
  <div class="container mx-auto px-3 ml-auto max-w-screen-xl w-full">
    <div class="flex flex-wrap items-center justify-between -mx-3">
      <div class="w-full md:w-1/6 px-3">
        <p>&copy; Paloma Balmori Elósegui</p>
      </div>

      <div class="w-full md:w-1/6 px-3">
        <ul class="flex justify-center space-x-6">
          <li class="nav-item">
            <a class="text-main hover:text-highlight" href="./index.html">Inicio</a>
          </li>
          <li>
            <a class="text-main hover:text-highlight" href="./views/speakers.html">Ponentes</a>
          </li>
          <li>
            <a class="text-main hover:text-highlight" href="./views/article.html">Concurso</a>
          </li>
        </ul>
      </div>

      <div class="w-full md:w-1/4 text-center mt-4 md:mt-0 px-3">
        <a href="https://www.instagram.com" class="text-main hover:text-highlight mx-2">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com" class="text-main hover:text-highlight mx-2">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://www.facebook.com" class="text-main hover:text-highlight mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
