<header class="bg-white py-2 px-0 border-b-2 border-[#c6e8ee]" id="header">
  <div class="mx-auto px-12 py-4 flex justify-between items-center ml-auto max-w-screen-xl w-full">
    <a href="./index.html" id="logo">
      <img src="./assets/images/logo.png" alt="LOGO" class="max-w-[50px] h-auto"/>
    </a>
    <nav>
      <ul class="flex space-x-6">
        <li class="flex">
          <a class="text-main hover:text-highlight" href="./views/speakers.html">Ponentes</a>
        </li>
        <li class="flex">
          <a class="text-main hover:text-highlight" href="./views/article.html">Concurso</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
