<section class="max-w-[50%] mx-auto text-justify mb-6">
  <h2>
    Requisitos para Participar en el Concurso
  </h2>
  <ul class="pl-0 mb-6">
    <li><strong>Edad mínima:</strong> 18 años (o permiso parental en caso de ser menor de edad).</li>
    <li><strong>Conocimientos previos:</strong> Se recomienda tener experiencia básica o avanzada en ciberseguridad, análisis de malware, pruebas de penetración y criptografía.</li>
    <li><strong>Equipo:</strong> Los participantes deben contar con un ordenador personal portátil o de escritorio con conexión a internet.</li>
    <li><strong>Software:</strong> Se deberá tener instalado software específico para el análisis de vulnerabilidades y pruebas de penetración, que será proporcionado antes del evento.</li>
    <li><strong>Inscripción previa:</strong> La inscripción al evento debe completarse antes de la fecha límite, proporcionando los datos personales y de contacto.</li>
    <li><strong>Trabajo en equipo:</strong> El concurso permite la participación individual o en equipos de hasta 3 personas. Los equipos deben tener un nombre registrado durante la inscripción.</li>
    <li><strong>Cumplir con las normas del evento:</strong> Todos los participantes deben respetar el código de conducta y las reglas del concurso, que incluyen el comportamiento ético durante las actividades de pruebas de penetración.</li>
    <li><strong>Certificado de participación:</strong> Al finalizar el concurso, todos los participantes recibirán un certificado digital de participación, que puede ser utilizado para fines educativos o profesionales.</li>
  </ul>
  <figure>
    <img class="max-w-full h-auto rounded-lg shadow-md" src="../assets/images/img3.jpg" alt="Logo creado para el concurso" />
    <figcaption class="text-sm text-gray-500 mt-2">Logo ganador del concurso de la edición anterior.</figcaption>
  </figure>
</section>