<section class="flex flex-col md:max-w-[50%] lg:flex-row max-w-[1180px] mx-auto text-justify">
  <p class="min-w-[200px] mr-4 text-[1.2em] font-bold">
    El objetivo principal es crear conciencia sobre la importancia 
    de proteger nuestros datos en un mundo digital cada vez más interconectado.
  </p>
  <p class="text-base">
    Los participantes competirán en una serie de desafíos prácticos diseñados para poner a prueba sus habilidades en 
    diversas áreas de la ciberseguridad. Entre los retos más destacados se incluyen el análisis y desmantelamiento de malware, 
    pruebas de penetración en sistemas y redes, resolución de problemas complejos de criptografía, y simulaciones de incidentes
    de ciberseguridad en tiempo real. Cada desafío está diseñado no solo para evaluar el conocimiento técnico, sino también para 
    medir la capacidad de los participantes para trabajar bajo presión, tomar decisiones rápidas y aplicar soluciones efectivas ante 
    situaciones de alto riesgo.
  </p>
</section>